@import 'mixins.scss';
/* ANIMATIONS CLASSES */

.au-stagger {	animation-delay: 50ms; }
.staggerFast { animation-delay: 25ms !important; }
.staggerSlow { animation-delay: 100ms !important; }

.animPulse {
  @include animation('anim-pulse 2s ease-out');
  animation-iteration-count:infinite;
}

section.au-enter, section.au-show { opacity: 0; position: relative; }
section.au-enter-active, section.au-show-active { @include animation('anim-slide-in .75s ease'); }
section.au-leave-active, section.au-hide-active {	@include animation('anim-slide-out .25s ease-in'); }
section.au-leave, section.au-hide { opacity: 0; position: relative; }

.animFade.au-enter { opacity: 0; }
.animFade.au-enter-active, .animFade.au-show-add { @include animation('anim-fade-in 1.25s ease-out'); }
.animFade.au-leave-active, .animFade.au-hide-add { @include animation('anim-fade-out .25s ease-in'); }
.animFade.au-leave { opacity: 0; }

.animQuickFlip.au-enter { opacity: 0; }
.animQuickFlip.au-enter-active, .animQuickFlip.au-show-add { @include animation('anim-flipblur-in .75s ease-out'); }
.animQuickFlip.au-leave-active, .animQuickFlip.au-hide-add { @include animation('anim-flipblur-out .25s ease-in'); }
.animQuickFlip.au-leave { opacity: 0; }

.animFlipSwap-add, .animFlipSwap.au-enter-active { @include animation('anim-flip-swap 1s ease-in'); }
.animFlipBlur-add, .animFlipBlur.au-enter-active { @include animation('anim-flip-blur 1s ease-in'); }

/* ANIMATIONS DEFINITIONS */

@include keyframes(anim-slide-in) {
  0% { opacity: 0; transform: rotateY(45deg); left: -100px; }
  100% { opacity: 1; transform: rotateY(0deg); left: 0px; }
}

@include keyframes(anim-slide-out) {
  0% { opacity: 1; transform: rotateY(0deg); left: 0px; }
  100% { opacity: 0; transform: rotateY(-45deg); left: 100px; }
}

@include keyframes(anim-fade-in) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(anim-fade-out) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@include keyframes(anim-flipblur-in) {
  0% { filter: blur(2px); opacity: 0; transform: rotateY(10deg); }
  100% { filter: blur(0px); opacity: 1; transform: rotateY(0deg); }
}

@include keyframes(anim-flipblur-out) {
  0% { filter: blur(0px); opacity: 1; transform: rotateY(0deg); }
  100% { filter: blur(2px); opacity: 0; transform: rotateY(10deg); }
}

@include keyframes(anim-flip-in) {
  0% { opacity: .35; transform: rotateY(20deg); }
  100% { opacity: 1; transform: rotateY(0deg); }
}

@include keyframes(anim-flip-out) {
  0% { opacity: 1; transform: rotateY(0deg); }
  100% { opacity: .35; transform: rotateY(20deg); }
}

@include keyframes(anim-flip-swap) {
  0% { opacity: 1; transform: rotateY(0deg); }
  50% { opacity: 0; transform: rotateY(20deg); }
  100% { opacity: 1; transform: rotateY(0deg); }
}

@include keyframes(anim-flip-blur) {
  0% { opacity: 1; filter: blur(0px); }
  15% { opacity: 0; filter: blur(2px); }
  100% { opacity: 1; filter: blur(0px); }
}

@include keyframes(anim-pulse) {
  0% { opacity: 1; }
  50% { opacity: .65; }
  100% { opacity: 1; }
}