/* Flex Helpers */
.flexGroup {
	display: flex;
	flex-wrap: wrap;
}

.flexRow {
	// margin: 8px 0px 8px 8px;
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	/*width: 100%;*/
	// padding: 5px 10px;
}

.flexCol {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 50px;
}

.middleClass {
	vertical-align: middle;
	text-align: center !important;
	justify-content: center !important;
	align-items: center !important;
}
.upperMiddleClass {
	vertical-align: middle;
	justify-content: center;
	align-items: flex-start;
}

.leftWing {
	justify-content: flex-start;
	align-items: baseline !important;
	text-align: left;
	vertical-align: middle;
}

.rightWing {
	justify-content: flex-end;
	align-items: flex-end !important;
	text-align: right;
	vertical-align: middle;
}
.flex1 { flex: 1; }
.flexBetween { justify-content: space-between !important; }
.flexStart { justify-content: flex-start !important; }
.flexAround { justify-content: space-around !important; }
.flexEven { justify-content: space-evenly !important; }
.flexEnd { justify-content: flex-end !important; }
.baseAlign { align-items: baseline; vertical-align: top; }
.stretchAlign { align-items: stretch; }
.startJustify { justify-content: flex-start; }
.justifyEnd { justify-content: flex-end; align-items: flex-end; }