/* General Helper Classes */
.hide, .hidden { display: none !important; }
.noBorder { border: none !important; }
.font75 { font-size: 75%; }
.font90 { font-size: 90%; }
.font115 { font-size: 115%; }
.top0 { margin-top: 0px !important; padding-top: 0 !important; }
.marTop0 { margin-top: 0px !important; }
.marTop20 { margin-top: 20px !important; }
.marBottom0 { margin-bottom: 0px !important; }
.marBottom5 { margin-bottom: 5px !important; }
.marBottom15 { margin-bottom: 15px !important; }
.marRight0 { margin-right: 0px !important; }
.marRight10 { margin-right: 10px !important; }
.marRight20 { margin-right: 20px !important; }
.marLeft0 { margin-left: 0px !important; }
.marLeft5 { margin-left: 5px !important; }
.marLeft10 { margin-left: 10px !important; }
.marVert0 { margin-top: 0px; margin-bottom: 0px; }
.marVert5 { margin-top: 5px; margin-bottom: 5px; }
.marVert15 { margin-top: 15px; margin-bottom: 15px; }
.marVert25 { margin-top: 25px; margin-bottom: 25px; }
.marHoriz0 { margin-left: 0px; margin-right: 0px; }
.mar5 { margin: 5px; }
.mar10 { margin: 10px; }
.mar20 { margin: 20px; }
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad1020 { padding: 10px 20px; }
.pad1040 { padding: 10px 40px; }
.miniLabel { font-size: 0.5em !important; }
.smallLabel { font-size: 0.7em !important; }
.bottomBot { border-bottom: 1px solid gray !important; }
.borRed { border-color: darkred !important; }
.borOrange { border-color: darkorange !important; }
.colorBlue { color: mediumblue; }
.bgGone { background: none !important; background-color: transparent !important; }
.borGone { border: none !important; border-color: transparent !important; }
.borBlue { border-color: dodgerblue !important; }
.clickable, .pointy, .actionable { cursor: pointer; }
.fa-thumb-tack { padding: 0px 2px; }
.smallcaps { font-variant: small-caps; }
.normalcaps { font-variant: normal; }
.fullWidth { width: 100% !important; }
.wid75 { width: 75% !important; }
.zeroMargin { margin: 0; }
.blur { filter: blur(5px); }
.midSize { width: 375px; }
.goBold { font-weight: bold; }
.goMid { font-size: 1.3em !important; }
.goLarge { font-size: 1.8em !important; }
.goBig { font-size: 3em !important; }
.goHuge { font-size: 4.3em !important; }
.blockHead { display: block; }
.bold { font-weight: bold; }
.dashing { border: 2px dashed gray; }
.underhanded { display: block; border-bottom: 1px solid gray; box-shadow: 0px 1px 5px #aaa}
.shady { background-color: gainsboro; }
.font-arial { font-family: arial !important; }
.font-arialblack { font-family: "Arial Black" !important; }
.textBlack { color: #000 !important; }
.textWhite { color: #fff !important; }
.textGray { color: #777 !important; }
.bgGray { background-color: #777; }
.noDecor { text-decoration: none !important; }
.noSelect, .noSelect *, .pointy, .pointy * { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.spaceCaps { font-variant: all-small-caps; letter-spacing: 2px; }
.border { border: 1px solid transparent; }
.fadeVertical150 {
	max-height: 200px;
	position: relative;
	overflow: hidden;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 110%);
}
hr.stub { 
	width: 100px; 
	&.mini { width: 50px; }
	margin: 5px;
	filter: blur(3px);
	opacity: .45;
	border: 2px solid;
}
h2 {
	font-family: "Arial Black";
	letter-spacing: 2px;
}
mark {
	padding: 0px 2px;
	border-radius: 3px;
}