@import 'animations.scss';
@import 'flexhelpers.scss';
@import 'genhelpers.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'print.scss';
@import 'phoneport.scss';
@import 'phoneland.scss';
@import 'tablet.scss';
@import 'desktop.scss';

html, body { 
	margin: 0;
	height: 100%;
	min-height: 100vh;
	> .splash {
		min-height: 50vh;
		font-size: 175%;
	}
}

/* Main Content DIV */
#content {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* Loading Page */

.splash {
	margin: 35px 0px 40px 0px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.loadMessage, .loadIcon {
		font-size: 1.65em;
		font-family: "Georgia";
		text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		font-variant: small-caps;
	}
	.loadIcon {
		font-size: 2.75em;
		margin: 20px 0px;
	}
}

/* TOP MENU */
#topMenuBar {
	width: calc(100% - 10px);;
	margin: 0px 2px 5px 2px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid;
	border-bottom: 3px solid;
	border-top: 0px transparent;
	box-shadow: 2px 0px 10px 2px #999;
	.mainMenu {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		height: 35px;
		.topMenuLogo {
			align-items: center;
			display: inline-flex;
			.logoImage {
				width: 25px;
				margin-right: 5px;
			}
			.logoText {
				font-family: "Rock Salt";
				letter-spacing: 1px;
				font-size: 1em;
			}
		}
		> div {
			padding: 0px 10px;
		}
		.topMenuTrigger {
			font-size: 1.2em;
			margin: 10px 0px;
		}
	}
}

.mobileMenu, .mainMenu {
	button {
		font-variant: small-caps;
		border: none;
		padding: 0px 5px;
		margin: 0px 5px;
		font-size: 1.1em;
		cursor: pointer;
		transition: color .7s ease-in, border .7s ease-out;
		border-bottom: 1px groove transparent;
		border-radius: 3px;
	}
	* {
		user-select: none;
		outline: none;
	}
}

.mobileMenu {
	flex-direction: column;
	display: flex;
	padding: 10px 0px 5px 25px;
	button { margin-bottom: 5px; }
}

/* Content Styling */

.pageContent {
	display: flex;
	flex: 1;
	margin: 0px;
	width: calc(100% - 40px);
	font-family: "Georgia";
}

h2.pageTitle {
	font-family: "Rock Salt";
	font-style: italic;
}

.cardContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	.card {
		display: flex;
		border: 1px solid;
		border-radius: 5px;
		flex-direction: column;
		padding: 10px 20px;
		flex-grow: 1;
		transition: all .7s ease;
		margin: 7px 15px;
		border-radius: 5px;
		text-align: center;
		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.22);
			padding: 12px 22px;
			margin: 5px 13px;
		}
		box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 2px 4px rgba(0,0,0,0.18);
		&.mini { max-width: 75px; }
		&.small { max-width: 150px; }
		&.medium { max-width: 300px; }
		&.large { max-width: 450px; }
		.title {
			font-family: "Arial Black";
			font-size: .9em;
		}
	}
}


/* Theme selection UI stuff */
.themeColors {
	width: 100%;
	margin: 10px 0px 2px 0px;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	.bubble { 
		padding: 10px;
		border: 1px solid;
		border-radius: 20px;
	}
}