/* MIXIN USAGE: media query breakpoints
	.sidebar {
	  width: 60%;
	  @include bp-small {
	    width: 100%;
	  }
}
*/
	@mixin bp-large {
	  @media only screen and (max-width: 320px) {
	    @content;
	  }
	}

	@mixin bp-medium {
	  @media only screen and (max-width: 767px) {
	    @content;
	  }
	}

	@mixin bp-small {
	  @media only screen and (min-width: 768px) {
	    @content;
	  }
	}

/* MIXIN USAGE: @include animation()
	@include keyframes(slide-down) {
	  0% { opacity: 1; }
	  90% { opacity: 0; }
	}

	.element {
	  @include animation('slide-down 5s 3');
	}
*/
	@mixin keyframes($animation-name) {
	    @-webkit-keyframes #{$animation-name} {
	        @content;
	    }
	    @-moz-keyframes #{$animation-name} {
	        @content;
	    }  
	    @-ms-keyframes #{$animation-name} {
	        @content;
	    }
	    @-o-keyframes #{$animation-name} {
	        @content;
	    }  
	    @keyframes #{$animation-name} {
	        @content;
	    }
	}

	@mixin animation($str) {
	  -webkit-animation: #{$str};
	  -moz-animation: #{$str};
	  -ms-animation: #{$str};
	  -o-animation: #{$str};
	  animation: #{$str};      
	}

/* MIXIN USAGE: @include transition()
	a {
	  color: gray;
	  @include transition(color .3s ease-both);
	  &:hover {
	    color: black;
	  }
	}
*/
	@mixin transition($args...) {
	  -webkit-transition: $args;
	  -moz-transition: $args;
	  -ms-transition: $args;
	  -o-transition: $args;
	  transition: $args;
	}

@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
     -moz-box-sizing: $val;
          box-sizing: $val;
}

@mixin user-select($val...) {
  -webkit-user-select: $val;
     -moz-user-select: $val;
      -ms-user-select: $val;
          user-select: $val;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
          box-shadow: $shadows;
}

@function inverse-side($side) {
  @if      $side == top    { @return bottom; }
  @else if $side == bottom { @return top; }
  @else if $side == left   { @return right; }
  @else if $side == right  { @return left; }
}

@mixin linear-gradient($gradientLine, $colorStops...) {
  background-image: -webkit-linear-gradient($gradientLine, $colorStops);
  background-image:    -moz-linear-gradient($gradientLine, $colorStops);
  background-image:      -o-linear-gradient($gradientLine, $colorStops);
  @if length($gradientLine) == 2 {
  background-image:         linear-gradient(to #{inverse-side(nth($gradientLine, 1))} #{inverse-side(nth($gradientLine, 2))}, $colorStops);
  } @else {
  background-image:         linear-gradient(to #{inverse-side($gradientLine)}, $colorStops);
  }
}

@mixin radial-gradient($gradient...) {
  background-image: -webkit-radial-gradient($gradient);
  background-image:    -moz-radial-gradient($gradient);
  background-image:      -o-radial-gradient($gradient);
  background-image:         radial-gradient($gradient);
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transition-property($properties...) {
  -webkit-transition-property: $properties;
     -moz-transition-property: $properties;
       -o-transition-property: $properties;
          transition-property: $properties;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}