@media screen and (max-width: 450px) { 
	.hide-phoneport { display: none !important; }
	.only-desktop { display: none !important; }
	.only-tablet { display: none !important; }
	.only-phoneland { display: none !important; }
}