<template>
	<section class="au-animate color-pri-text" click.delegate="clickDeli($event)">
		<div class="flexCol middleClass pad10 bg-pri-light">
			<h2 class="pageTitle marVert0 color-acc-med">${title}</h2>
			<hr class="stub color-acc-med">
		</div>
		<div class="splash top0">
			<span class="loadMessage">Sorry</span>
			<i class="loadIcon fas fa-code color-pri-dark"></i>
			<span class="loadMessage">This page is still<br>being developed...</span>
		</div>
	</section>
</template>