<template>
	<section class="au-animate color-pri-text" click.delegate="clickDeli($event)">
		<div class="flexCol middleClass pad10 bg-pri-light">
			<h2 class="pageTitle marVert0 color-acc-med">${title}</h2>
			<hr class="stub color-acc-med">
		</div>
		<div class="flexCol middleClass pad10">
			<h3 class="marVert0 color-acc-med">Select a Theme</h3>
			<div class="cardContainer middleClass">
				<div class="card small pointy bor-acc-med" css.bind="'background-color: '+theme.primary.light" repeat.for="theme of avm.themes.themeDefs" data-cat="themeChange" data-val="${$index}">
					<span class="title" css.bind="'color: '+theme.accent.med">${theme.label}</span>
					<div class="themeColors">
						<div class="bubble" css.bind="'background-color: '+theme.primary.light+'; border-color: '+theme.accent.med"></div>
						<div class="bubble" css.bind="'background-color: '+theme.primary.med+'; border-color: '+theme.accent.med"></div>
						<div class="bubble" css.bind="'background-color: '+theme.primary.dark+'; border-color: '+theme.accent.med"></div>
						<div class="bubble" css.bind="'background-color: '+theme.accent.light+'; border-color: '+theme.accent.med"></div>
						<div class="bubble" css.bind="'background-color: '+theme.accent.med+'; border-color: '+theme.accent.med"></div>
						<div class="bubble" css.bind="'background-color: '+theme.accent.dark+'; border-color: '+theme.accent.med"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>