<template bindable="router" class="navTemplate" click.delegate="router.menuDeli($event)">
	<div class="mainMenu">	

		<div class="topMenuLogo pointy" data-cat="link" data-val="">
		<!-- TITLE -->
			<img class="logoImage" src.bind="router.avm.appData.logoImg" alt="" if.bind="router.avm.appData.logoImg != null">
			<span class="logoText color-acc-text" if.bind="router.avm.appData.title != null">${router.avm.appData.title}</span>
		</div>

		<div class="color-acc-text au-animate hide-phoneland hide-phoneport">
		<!-- Tablet / Desktop Navigation Items -->
			<a repeat.for="row of router.navigation" href.bind="row.href">
				<button class="${row.isActive ? 'active color-acc-text bor-acc-light' : 'color-acc-light'} ${row.settings.class} bg-acc-dark">
					${row.title}
				</button>
			</a>
		</div>



		<div class="topMenuTrigger hide-tablet hide-desktop noBorder" data-cat="mobileMenu" data-val="toggle">
		<!-- MOBILE MENU - Portrait and Landscape Menu -->
			<button class="color-acc-text bg-acc-med" show.bind="router.mobileMenuOpen === false">
				<i class="fas fa-bars"></i>
			</button>
			<button class="color-acc-text bg-acc-dark" show.bind="router.mobileMenuOpen === true">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>

	<div class="mobileMenu bg-acc-med color-acc-text au-animate hide-desktop hide-tablet" show.bind="router.mobileMenuOpen == true">
	<!-- MOBILE MENU - Navigation Items -->
		<a repeat.for="row of router.navigation" href.bind="row.href">
			<button class="${row.isActive ? 'active color-acc-text bor-acc-light' : 'color-acc-light'} ${row.settings.class} bg-acc-med">
				<i class="fas fa-angle-right"></i> ${row.title}
			</button>
		</a>
	</div>




	</div>
</template>