<template>
	<require from ="styles/main.css"></require>
	<require from="components/nav-bar/nav-bar.html"></require>

	<!-- 
		Loading Splash Screen 
	-->
	<div class="splash animPulse" show.bind="avm.session.appLoading === true">
		<i class="loadIcon fas fa-cog color-acc-med fa-spin"></i>
		<div class="loadMessage">Loading</div>
	</div>

	<div id="content" class="fullWidth" show.bind="avm.session.appLoading === false">
	<!-- 
		APPLICATION MENU 
	-->
		<nav-bar router.bind="router" id="topMenuBar" class="noPrint bg-acc-dark color-acc-text bor-acc-light" role="navigation">
		</nav-bar>
		

	<!-- 
		Currently Active VIEW CONTENT 
	-->
		<div class="pageContent" class="color-pri-text">
			<router-view class="fullWidth">
			</router-view>
		</div>

	</div>
</template>
